## Ignore all dot files
.*
.DS_Store

## Exception dot files
!.gitignore
!.gitkeep
!.editorconfig

## Ignore composer
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php

# app storage
/app/storage

Thumbs.db